body {
    background-color: grey;
}

h1 {
    text-align: center;
}

p.p1 {
    text-align: center;
    color: red;
}

thead.classTableHeader {
    color: blueviolet;
}

th.classHeaderCell {
    border: solid;
    border-width: 1px;
    border-color: aqua;
}

td.classRowCell {
    border: solid;
    border-color:  saddlebrown;
}

thead.classTableHeader.th {
    border: solid;
    border-width: 3vw;
    border-color: aqua;
}